<head>
  <title>Home Work</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  
      $(function(){
        $('#getData').on('click',function(){
          getData();
        });
      });

      function getData() {
		  url='https://jsonplaceholder.typicode.com/users';

		  $.ajax({
			url: url,
			dataType: 'json',
			success: function (data) {
				insertData(data);
				//alert('success');
			},
			error: function(msg){
				//alert('failed');
			}
		  });
      }
	  
	  function insertData(data){
		  url='/addData/';

		  //var csrftoken = data;

          $.ajax({
            url: url,
            method: "post",
			//type: 'post',
            data: {"data": JSON.stringify(data)},
			contentType : 'application/json',
			dataType: 'json',
			success: function (data) {
				//alert('ajax success');
			},
			error: function(msg){
				//alert('ajax failed');
			},
			complete: function(){
				alert('success');
			}
          });
	  }
	  
	  $(document).ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function sameOrigin(url) {
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					// or any other URL that isn't scheme relative or absolute i.e relative.
					!(/^(\/\/|http:|https:).*/.test(url));
			}
			function safeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		 
			if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});
  </script>
</head>
<body><div class='container'>  
    <h1>Home Work</h1>  
    <button id='getData' type="button">Get and save users</button>  
    <br/>
    <hr>
    <form method="post">    
      <input type="text">    
      <button type="submit">Add a user</button>  
    </form>
    <hr>
    <button type="button">Print users</button>  
    <br/>
  </div>
</body>